[supervisord]
nodaemon=true
[program:apache2]
command = /usr/sbin/apache2ctl -DFOREGROUND
user = root
autostart = false
stdout_events_enabled = true
stderr_events_enabled = true
[program:php-fpm]
command = /usr/sbin/php-fpm7.4 --nodaemonize
user = root
autostart = true
stdout_events_enabled = true
stderr_events_enabled = true
[program:redis]
command = /usr/bin/redis-server
user = root
autostart = false
stdout_events_enabled = true
stderr_events_enabled = true
[program:mysql]
command = /bin/bash -c "service mysql start && sleep 100"
user = root
autostart = false
stdout_events_enabled = true
stderr_events_enabled = true
